@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Barlow', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
		sans-serif;
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
	min-height: 100vh;
}

input,
textarea,
button {
	outline: none;
	border: none;
}

::selection {
	color: white;
	background-color: #6200ff;
}
