.label {
	display: flex;
	gap: 0.5rem;
	text-align: center;
	color: #fff;
	font-weight: 500;
	user-select: none;
}
.range {
	accent-color: #fff;

	&::-webkit-slider-thumb {
		-webkit-appearance: none;
		margin: 0.1rem;
		box-shadow: 0 0 1rem;
		border-radius: 50%;
	}
	&::-webkit-slider-runnable-track {
		background-color: #000;
		box-shadow: 0 0 0.1rem 1px #525252;
		border: 1px solid #525252;

		border-radius: 10px;
		padding-right: 0.2rem;
		padding-bottom: 1px;

		overflow: hidden; // Blocks the overflow of box-shadow in thumb
	}

	&::-webkit-slider-runnable-track:active {
		background-color: #4f4f4f;
	}
}
